@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
@Html.ActionLink("Add Movie","Save","Movies",new {@class="btn btn-success"})
<table class="table table-striped">
  <tr>
    <th>
      Movie
    </th>
    <th>
      Generes
    </th>
  </tr>
  @foreach (Movie movie in Model)
  {
    <tr>
      <td>
        @Html.ActionLink(movie.Name,"Edit",new {Id=movie.Id})
      </td>
      <td>
        @movie.Genre.Name
      </td>
    </tr>
  }
</table>

