@using Vidly.Models
@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
}

<h2>Movies</h2>
@Html.ActionLink("Add Movie","Save","Movies",new {@class="btn btn-success"})
<table id="movies" class="table table-striped">
  <thead>
    <tr>
      <th>
        Movie
      </th>
      <th>
        Generes
      </th>
      <th>
        Delete
      </th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
@section scripts{
  <script>
    $(document).ready(function () {
      var table = $("#movies").DataTable({
        "ajax": {
          url: "/api/movies",
          dataSrc:""
        },
        columns: [
          {
            data: "name",
            render: function (data, type, movie) {
              return "<a href='/movies/edit/" + movie.id + "'>" + data + "</a>"
            }
          },
          {
            data:"genre.name"
          },
          {
            data: "id",
            render: function (data) {
              return "<button class='btn btn-link js-delete' data-movie-id=" + data + ">Delete</button>"
            }
          }
        ]
      });
      $("#movies").on("click", ".js-delete", function () {
        var btn = $(this);
        bootbox.confirm("are you sure want to delete this movie?", function (result) {
          if (result) {
            $.ajax({
              url: "/api/movies/" + btn.attr("data-movie-id"),
              method: "DELETE",
              success: function () {
                table.row(btn.parents('tr')).remove().draw();
              }
            })
          }
        })
      })
    })
  </script>
  }

