@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Customers</h2>

<p>
</p>
<table id="customers" class="table table-striped">
  <tr>
    <th>
      @Html.DisplayNameFor(model => model.Name)
    </th>
    <th>
      Membership Type
    </th>
    <th>
      Delete
    </th>
  </tr>

@foreach (var item in Model) {
<tr>
  <td>
    @Html.ActionLink(item.Name, "Edit", new { id = item.Id })
  </td>
  <td>
    @item.MembershipType.Name
  </td>
  <td>
    <button data-customer-id="@item.Id" class="btn btn-link js-delete">Delete</button>
  </td>
</tr>
}

</table>
@section scripts {
  <script>
    $(document).ready(function () {
      $("#customers .js-delete").click(function () {
        var button = $(this);
        if (confirm("Are you sure want to delete the customer.")) {
          $.ajax({
            url: "/api/customers/" + button.attr("data-customer-id"),
            method: "DELETE",
            success: function () {
              button.parents("tr").remove();
            }
          })
        }
      });
    });
  </script>
  }
